{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Welcome to Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
          <img src="{% static 'images/stickynotes.jpg' %}" alt="image" width="360" height="300">

        </div>
        <div class="col-lg-4">
          <img src="{% static 'images/stickynotes.jpg' %}" alt="image" width="360" height="300">
        </div>
        <div class="col-lg-4">
          <img src="{% static 'images/stickynotes.jpg' %}" alt="image" width="360" height="300">
        </div>

    </div>
    <div class="row mt-5">
      <p>Quick And Easy To Use, Anytime, Anywhere</p>
      <p>"Plan Your Day Better, Get Your Life Organized"</p>
      <p>TASKMATE Lets You Keep Track Of Your Task In One Place</p>

    </div>
</div>
{% endblock content %}